<!-- your html code here -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


</head>
<body>

    <div class="container">
        <div class="row">
          <div class="col-8">
            <h1><strong>The first heading </strong> will catch your eye</h1>
            <p> Texto random. Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
            </p>
          </div>
          <div class="col-4">
            

            <img src="https://img.freepik.com/vector-premium/icono-hombre-calvo-enojado-ilustracion-vectorial-estilo-dibujos-animados-planos_648861-476.jpg?w=826" class="rounded-circle" id="object-fit-cover border rounded" width="300px" height="250px">

            
          </div>
        
        </div>
      </div>






</body>
</html>
