<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css"> 
    <title>NAVBAR</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark p-2 mb-4">
        <span class="navbar-brand mb-0 h1 text-white ml-4">Start Bootstrap</span>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-1">
                  <a class="nav-link active text-white ml-1" href="#">About</a>
                  <a class="nav-link active text-white ml-1" href="#">Services</a>
                  <a class="nav-link active text-white ml-1" href="#">Portfolio</a>
                  <a class="nav-link active text-white ml-1" href="#">Contact</a>
                </div>               
            </div>
            <div class="text-white">
                <p>Jose Guerrero</p>
            </div>
    </nav>
       
</body>
</html>