<div class="container-fluid mb-4" style="width: 1200px; height: auto;">
    <h1> Porfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum earum voluptate dolor fugiat laboriosam voluptas consequatur impedit labore delectus error. Aliquid minima corporis magnam at, voluptates omnis laboriosam repellendus facere.</p>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="https://placekitten.com/640/360" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="https://placekitten.com/640/360" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://placekitten.com/640/360" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>