<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>


<body>

    <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="https://img.freepik.com/foto-gratis/vista-superior-manos-mujer-que-trabaja-computadora-portatil_1421-202.jpg?t=st=1708976013~exp=1708979613~hmac=0da8c50e28e64eb1584a96868c6f77d0c972e85de391740f67e5569d32eaecd3&w=826" class="rounded-circle" id="object-fit-cover border rounded" width="300px" height="250px">
            <h1><strong>The first heading </strong> will catch your eye</h1>
            <p> Texto random. Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
            </p>
          </div>
          <div class="col-8">
            <h2><strong>The second heading </strong> is pretty cool too</h2>
            <p> La mecanografía al tacto se basa en la idea de que cada dedo tiene su propia área en el teclado. Gracias a eso, se puede escribir sin mirar las teclas. Practica de forma regular, y tus diez dedos se acostumbrarán a su ubicación en el teclado gracias a la memoria muscular.
            </p>
            

        
          </div>
        
        </div>
      </div>






</body>
</html>
