

<body>

    <div class="container-fluid mb-4" style="width: 1350px; height: 600px;">
        <div class="row">
          <div class="col-4">
            <img src="https://img.freepik.com/foto-gratis/vista-superior-manos-mujer-que-trabaja-computadora-portatil_1421-202.jpg?t=st=1708976013~exp=1708979613~hmac=0da8c50e28e64eb1584a96868c6f77d0c972e85de391740f67e5569d32eaecd3&w=826" class="rounded-circle" id="object-fit-cover border rounded" width="300px" height="250px">
           
          </div>
          <div class="col-8">
            <h1><strong>The second heading </strong> is pretty cool too</h1>
            <p> La mecanografía al tacto se basa en la idea de que cada dedo tiene su propia área en el teclado. Gracias a eso, se puede escribir sin mirar las teclas. Practica de forma regular, y tus diez dedos se acostumbrarán a su ubicación en el teclado gracias a la memoria muscular.
            </p>
          </div>
        </div>
      </div>






</body>
</html>
