<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags --> <!--ronald-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .bg-img {
            background-image: url('https://img.freepik.com/foto-gratis/gran-ciudad_1127-3102.jpg?t=st=1708971824~exp=1708975424~hmac=42b0510e34fc93c958b2bc1fee2f9bf81faea5d7c6e9370d5ee4868959132107&w=1060');
            background-size: cover;
        }
    </style>
  </head>
  <body>

    <div class="container-fluid bg-img mb-5 img-fluid" style="height: 700px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <h1 class="bg-light  mt-4" style="font-size: 120px;">One Page Wonder</h1>
                <h2 class="bg-light "style="font-size: 65px;" >Will Knock Your Socks Off</h2>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
 
  </body>
</html>

  <!--<img class="img-fluid mx-auto" src="https://img.freepik.com/foto-gratis/gran-ciudad_1127-3102.jpg?t=st=1708971824~exp=1708975424~hmac=42b0510e34fc93c958b2bc1fee2f9bf81faea5d7c6e9370d5ee4868959132107&w=1060" alt="photo">-->